.test-cards-cards {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.test10 {
    margin-top: 30px;
    width: 100%;
}

.fiArrowDown {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    width: 25%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.fiArrowDown svg {
    font-size: 50px;
    margin: auto;
}

.fiArrowDown h3 {
    width: 90%;
    margin: auto;
}

.slick-arrow {
    background-color: rgb(22, 21, 21) !important;

}

.card-test {
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 50px !important;
}

.card-top-test {
    display: flex;
    justify-content: space-around;
    border: 1px solid rgb(202, 18, 18);
}

.card-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid rgb(18, 21, 202);
}

.card-top-test img {
    border-radius: 5px;
    height: 200px;
    width: 50%;
}
