.header{
  width: 100%;
  background-color: white;
}

.search{
  height: 40px;
  width: 100%;
}
.select-categories{
  width: 100%;
  height: 40px;
}
.container-serach{
  margin-bottom: 20px;
}
.button-search{
  height: 40px;
  width: 100%;
}
.test5{
  height: 40x;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}
.test{
  display: flex;
  justify-content: space-between;
}
.test6 input{
  height: 40px;
  width: 600px;
}

.test4{
  height: 40px;
  background-color: aqua;
}
.test7 select{
  height: 40px;
}
.test8 button{
  height: 40px;
}
.test ul{
  width: 600px;
  font-size: 13px;
  margin: 5px;
  display: flex;
  justify-content: space-around;
  color: black;
}

/* ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
} */
ul li a{
  text-decoration: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  /* padding: 10px 20px; */
  font-weight: bold;
}

ul li a:hover{
  background-color: red;
  color: #fff;
}

.active{
  /* background-color: red; */
  color: #fff;
}
